git+https://github.com/Rapptz/discord-ext-menus.git
git+https://github.com/TEEN-BOOM/fractal.git
wavelink > 0.9.4
asyncpg
discord.py
pandas
Pillow
psycopg2-binary
praw
PyNaCl
aiohttp
async-timeout
attrs
cffi
chardet
dnspython
idna
multidict
numpy
pycparser
python-dateutil
pytz
six
websockets
requests