discord.py
git+https://github.com/TEEN-BOOM/fractal.git
git+https://github.com/Rapptz/discord-ext-menus.git
pandas
Pillow
psycopg2-binary
praw
PyNaCl
aiohttp
async-timeout
attrs
cffi
chardet
dnspython
idna
multidict
numpy
pycparser
python-dateutil
pytz
six
websockets
git+https://github.com/TEEN-BOOM/Wavelink.git
requests
uvloop